body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

audio {
  margin-top: 20px;
  width: 90vw;
  height: 30px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}



form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
